.vs
.git
.github
Backend/.vs

Backend/YouShelf/obj/
Backend/YouShelf/.env
Backend/YouShelf/app.db
Backend/YouShelf/bin/

old/.vs
old/.git
old/.github
old/Backend/.vs

old/Backend/YouShelf/obj/
old/Backend/YouShelf/.env
old/Backend/YouShelf/app.db
old/Backend/YouShelf/bin/




# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.theia
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?