@import "tailwindcss";
@import "@nuxt/ui";

#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.goBack {
    padding-bottom: 10px;
}